.myButton {
    box-shadow: 0px 0px 0px 4px #C3CACF;
    background-color:#388CC0;
    border-radius:3px;
    border:1px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:1px 22px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}

.myButton:active {
    position:relative;
    top:1px;
}
.d {
position: absolute;;
    left:0px;
    top:100px;
}

h1 {
    text-decoration: underline;
animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        color: red;
    }
    25%{
        color:yellow;
    }
    50%
    {
        color:green;
    }
    75%{
        color: navy;
    }
    100% {
        color: blue;
    }
}



  video#bgvid {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;

      transform: translateX(-50%) translateY(-50%);

      background-size: cover;
  }

  textarea{
      text-align: center;
      background: transparent;
      font-size: 18px;
      resize: none;
      border: none;

  }